<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tongtech.uesop.mapper.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.tongtech.uesop.dto.Department">
    <!--@mbg.generated-->
    <!--@Table department-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="parent_department_name" jdbcType="VARCHAR" property="parentDepartmentName" />
    <result column="parent_department" jdbcType="INTEGER" property="parentDepartment" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, department_name, parent_department_name, parent_department
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from department
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from department
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.tongtech.uesop.dto.Department" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into department (department_name, parent_department_name, 
      parent_department)
    values (#{departmentName,jdbcType=VARCHAR}, #{parentDepartmentName,jdbcType=VARCHAR}, 
      #{parentDepartment,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.tongtech.uesop.dto.Department" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="departmentName != null">
        department_name,
      </if>
      <if test="parentDepartmentName != null">
        parent_department_name,
      </if>
      <if test="parentDepartment != null">
        parent_department,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="departmentName != null">
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="parentDepartmentName != null">
        #{parentDepartmentName,jdbcType=VARCHAR},
      </if>
      <if test="parentDepartment != null">
        #{parentDepartment,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tongtech.uesop.dto.Department">
    <!--@mbg.generated-->
    update department
    <set>
      <if test="departmentName != null">
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="parentDepartmentName != null">
        parent_department_name = #{parentDepartmentName,jdbcType=VARCHAR},
      </if>
      <if test="parentDepartment != null">
        parent_department = #{parentDepartment,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tongtech.uesop.dto.Department">
    <!--@mbg.generated-->
    update department
    set department_name = #{departmentName,jdbcType=VARCHAR},
      parent_department_name = #{parentDepartmentName,jdbcType=VARCHAR},
      parent_department = #{parentDepartment,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectAll" resultMap="BaseResultMap">
      select * from department
    </select>
</mapper>